
body{
    background-color: #222222;
    background-size: cover;
    

}
.conta{
    color: #ffffff;
}

h1 {

    text-align: center;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu{
    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bar{
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

.btn {
    cursor: pointer;
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
    }
}

.box {
  border: 3px solid rgb(219, 219, 219);
  background-color: lightgray;
  box-sizing: border-box;
    padding: 40px;
  margin: 40px;
  width: 1100px;
  height: 300px;
  border-radius: 30px;
  box-shadow: 10px 5px 5px rgb(12, 12, 12);
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 24px;
}

.box p{
    display: block;
    margin: 0;
}

.bande{
    display: flex;
    background-color: black;
    height: 50px;
    flex-direction: column;
    justify-content: center;

}


.profile-img{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.box .title{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.35rem;
}

.box .description{
    color: #222;
    opacity: 0.9;
}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    font-size: large;
}

.compe{
    display: flex;
    justify-self:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: large;
    box-sizing: border-box;
    background-color: rgb(209, 205, 205);
    height: 50px;
    width: 150px;
    border-radius: 30px;
    

}

.competances-bar{
    display: flex;
    justify-content: center;
    gap: 20px;

}

.CV{
    display: flex;
    justify-self:center;
    text-align: center;
    font-size: large;
    box-sizing: border-box;
    background-color: rgb(209, 205, 205);
    height: 50px;
    width: 150px;
    border-radius: 30px;
    

}
.CV a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


p1{
    margin-top: 10%;
    margin-right:20%;
}
p2{
    margin-top: 10%;
    margin-left:10%;
}