body{
    display: flex;
    justify-content:center;
    text-align: center;
    
}



.box {
  border: 3px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 450px;
  border-radius: 30px;
  box-shadow: 10px 5px 5px rgb(12, 12, 12);
}

